@charset "utf-8";
/* CSS Document */
.Developers{
 overflow:hidden;
 overflow-y:auto;
            text-align: center;
            margin:auto;
}
.Team{
	 align-content:center;
 display:inline-table;
 padding:15px;
	
	}