@charset "utf-8";
/* CSS Document */
.Developers{
  text-align: center;
  height:100%;
  width:100%;
  z-index:100;
  
}
.Team{
	overflow-y: scroll;
	align-content: center;
	padding: 15px;
}
	.Team span {
		margin-bottom: 3em;
	}
