@charset "utf-8";
/* CSS Map Page */

.mapa
{
	z-index:0;
	min-width:320px;
	background-image:url(../icons/mapLoad.jpg);	
	width:100%;
	height:100%;
}

.buttonsPapeleras {
	list-style: none;
	cursor: pointer;
	width: 60px;
	background-color: #2D3639;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	border-radius: 10px 10px 10px 10px;
	top: 80px;
	right: 8px;
	z-index: 11;
	border-radius: 5px 5px 5px 5px;
	position: fixed;
	padding-bottom: 10px;
	padding-top: 10px;
	}
.buttonsPapeleras li a 
{
	align-content: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
	
.search_wrapped
{
	z-index: 4004;
	position: absolute;
	left: 75px;
	top: 30px;
	width: 300px;
	-webkit-box-shadow: 8px 8px 38px -11px #535353;
	box-shadow: 8px 8px 38px -11px #535353;
}
.inputBuscar
{
	border-radius: 10px 0px 0px 10px;
	width: 240px;
}
.buttonBuscar
{
	cursor: pointer;
	border-style: none;
	position: absolute;
	height: 30px;
	width: 60px;
	background: url(../icons/24Search.png) center no-repeat;
	border-radius: 0px 10px 10px 0px;
	background-color: #437BAA;
}

/* CSS Document */
.botonesFloat {
	margin-right: auto;
	margin-left: auto;
	width: 75px;
	right: 0px;
	position: fixed;
	text-align: center;
	bottom: 50px;
}  

.miButton {
	cursor: pointer;
	font-family: "FontAwesome";
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 35px;
	text-align: center;
	line-height: 79px;
	text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	font-size: 32pt;
	display: block;
	position: relative;
	text-decoration: none;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 15px rgba(159,159,159,1.00);
	-webkit-box-shadow: 2px 2px 15px rgba(159,159,159,1.00);
}  
.close_open:hover{
	 background-color:#D42F32;	 
	}
.close_open:active{
	 background-color:#661415;
	}
.close_open
{
background-color: rgb(83,87,93); 
background-image:url(../icons/iconsMenu/close.png);
	
}

#btn1{
	position: absolute;
	left: 0px;
	top: -158px;
	background-image:url(../icons/iconsMenu/Truck.png);
	}	
#btn2{
	position: absolute;
	background-image:url(../icons/iconsMenu/Man.png);
	left: -47px;
	top: -132px;
	}
#btn3{
	position: absolute;
	left: -87px;
	top: -95px;
	background-image:url(../icons/iconsMenu/Trash.png);
	}
#btn4{
	position: absolute;
	left: -116px;
	top: -47px;
	background-image:url(../icons/iconsMenu/morePeople.png);
	}
#btn5{
	position: absolute;
	left: -136px;
	top: 0px;
	background-image:url(../icons/iconsMenu/Data.png);
	}
.btnActived{
	background-color:rgba(13,128,223,1.00);
}
.onButtons{ visibility:visible;}
.offButtons{ visibility:collapse;}



.buttonsDistritos
{
	position: absolute;
	padding: 0px;
	right: 210px;
	width: 282px;
	top: -106px;
}

.buttonsDistritos li {
display: inline;
}
.buttonsDistritos li a {
	
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #2175bc;
color: #fff;
border: 0;
border-radius: 35px;
text-align: center;
text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	box-shadow: 2px 2px 15px rgba(159,159,159,1.00);
	-webkit-box-shadow: 2px 2px 15px rgba(159,159,159,1.00);
}
.buttonsDistritos li a:hover{
	background-color:#4198E1;
	}







// For developer

::-webkit-scrollbar-track {
    background:#FBFBFB;
    box-shadow: 3px 3px 10px rgba(0,0,0,.25) inset;
}
::-webkit-scrollbar-thumb {
    background: #84C4FF;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.3);
    box-shadow: -3px -3px 6px rgba(66,137,224,1) inset,3px 3px 3px rgba(158,226,225,1) inset;
}
