.mapa
{
	min-width: 320px;
	background-image: url(../icons/mapLoad.jpg);
	width: 100%;
	height: 100%;
	z-index: 0;
}
/* Infobox */
#ibox {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 998;
	width: 25%;
	margin-top: 20px;
	border-radius: 3px;
	padding: 1em;
	border-bottom: 2px solid #2D3639;
	border-right: 2px solid #2D3639;
}
#ibox:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 997;
	left: -15px;
	top: 10px;
}
.infoopen {
	animation-name: infoopen;
		-webkit-animation-name: infoopen;
		-moz-animation-name: infoopen;
	animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
	opacity: 1;
	left: 450px;
}
.infoclosed {
	animation-name: infoclose;
		-webkit-animation-name: infoclose;
		-moz-animation-name: infoclose;
	animation-duration: 0.5s;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
	opacity: 0;
	left: -40%;
}

@keyframes infoopen {
	from {
		opacity: 0;
		left: -40%;
	}
	to {
		opacity: 1;
		left: 450px;
	}
}
@-webkit-keyframes infoopen {
	from {
		opacity: 0;
		left: -40%;
	}
	to {
		opacity: 1;
		left: 450px;
	}
}
@-moz-keyframes infoopen {
	from {
		opacity: 0;
		left: -40%;
	}
	to {
		opacity: 1;
		left: 450px;
	}
}
@keyframes infoclose {
	from {
		opacity: 1;
		left: 450px;
	}
	to {
		opacity: 0;
		left: -40%;
	}
}
@-webkit-keyframes infoclose {
	from {
		opacity: 1;
		left: 450px;
	}
	to {
		opacity: 0;
		left: -40%;
	}
}
@-moz-keyframes infoclose {
	from {
		opacity: 1;
		left: 450px;
	}
	to {
		opacity: 0;
		left: -40%;
	}
}