@charset "utf-8";
/* CSS Document */

.boxContent{
	font-size:14px;
	width: auto;
	border-radius: 5PX;
	border: 2PX solid #999999;
	padding: 8px;
	padding-bottom:7px;
	display: inline-block;
	margin:5px;
	box-shadow: 1px 1px 1px rgba(159,159,159,1.00);
	-webkit-box-shadow: 1px 1px 1px rgba(159,159,159,1.00);
}
.ContentEMPHA{
	font-weight: 100;
	font-style: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#2280AD;
	}
	

#empy{
	height:20px;
	background-color: #248B00;
	}
	#half{
		height:70px;
		background-color: #E7AC00;
		}